altgraph==0.17.4
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
Eel==0.17.0
future==1.0.0
gevent==21.8.0
gevent-websocket==0.10.1
idna==3.7
numpy==2.0.2
packaging==24.1
pandas==2.2.3
pefile==2023.2.7
pycparser==2.22
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
requests==2.32.3
scikit-learn==1.5.2
scipy
setuptools==72.2.0
six==1.16.0
threadpoolctl==3.5.0
tzdata==2024.2
urllib3==2.2.2
whichcraft==0.6.1
zope.event==5.0
zope.interface==7.0.1
wordcloud
jieba
flask
